.thought-dump{
    display: flex;
    /* flex-direction: column; */
    margin: 10vw auto;
    border-radius: 1%;
    padding: 1em;
    flex-wrap: wrap;
    background-color: rgb(31, 28, 27);
    justify-content: center;
    align-items: center;
    height: fit-content;
    /* width: 70vw; */
    width: fit-content;
    /* height: 50vh; */
    /* align-content:space-around; */
}

.Snape-gif{
    /* display: inline-flex; */
    width: 40rem;
    margin: 0.4em;
    object-fit: contain;
    /* display: block; */
}

.snape-text{
    width: 35vw;
    margin: 0.4em;
    /* margin-inline: 1em; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* word-wrap:normal; */
    flex-wrap: wrap;
    color: white;
}




.cardcontainer3{
    margin: 2em auto;
    background-color: rgba(186, 220, 141, 0.71);
     background-image: url('/public/img/pictureeeeee.jpg');
    background-position: center; 
    border-radius: 2%;
   
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    justify-content: center;
    align-items: center;
    /* width: auto; */
    box-shadow: 2px 2px 2px 3px black;
    /* background-image: url('/public/img/masterpic4.jpg'); */

    
    
}
.parent3{
    padding: 1em 0em 1em 0em;
    background-color: var(--parent3);
    
}

.container3img{
    margin:1em 1em;
    object-fit: contain;
    width: 25em;
    /* height: 20em; */
    
}

.textforcontainer3{
    padding: 0.5em;
    background-color: rgba(23, 24, 25, 0.295);
    object-fit: contain;
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    margin: 1em 1em;
    margin-bottom: 1.2em;
}

.cardcontainer3:hover{
    transform: scale(1.02);
}
.cardcontainer3 a{
    text-decoration: none;
}

.textforcontainer3:hover{
    font-weight: bolder;
    background-color: rgba(20, 22, 23, 0.696);
}