a{
    display: block;
}
body{
    background-color: var(--darkbody);
}
/* main{
    background-color: rgb(51, 51, 51);
} */

.container1{
    animation: opa-animate 1s;
    padding: 3em;
    background-color: var(--container1);
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 40em;
    /* flex-wrap: row wrap; */
    /* position: sticky;
    top: 12vh;
    z-index: 0; */
    background-image: url('/public/img/masterpic.jpg'); 
    background-size: 100%;

   
    background-repeat: no-repeat;
    background-position: center;
}



.divforheading{
    
    /* background-image: url('/public/img/bg2.png');  */
  
    /* background-size: 30em; */
    /* background-position-y: 70%; */
    /* backdrop-filter: blur(10px); */
    
    
}
.bigheading{
    margin-inline: 11vw;
    text-align: center;
    font-size: 3.5vw;
    /* font-family: 'Patua One', cursive;
    */
    font-family: 'Abril Fatface', cursive;
    background-color: var(--highlight);
    /* width: 60vw; */
    
    /* margin: -2em -4em 2em 2em; */
}

.subheading1{
    background-color: var(--highlight);
    margin-inline: 11vw;
    position: relative;
    font-size: 1.5vw;
    color: var(--subheading);
    text-align: center;
    /* width: 40vw; */
    font-family: 'Roboto Slab', serif;

}

.img1{
    margin-left: 1em;
    width: 23vw;
    /* height: 68vh; */
    object-fit: cover;
    border-radius: 2%;
    box-shadow: 0.5em 0.5em 1em 1em rgba(0, 0, 0, 0.703);
}

.widthset{
    width: 37%;
    
}
.card{
    margin: 1em;
    flex-flow: row wrap;

}
.centreitems{
    display: inline-flex;
    flex-flow: row wrap;
    clear: both;
    align-items: center;
    justify-content: center;

}

.aligncenter{
    text-align: center;
    align-items: center;
    
}
.imgwidth{
    width: 90%;
    margin-bottom: 1em;
   
}


/* //banner image */
/* #display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  } */

  @media screen and (max-width: 960px){
    .widthset{
        width: 60%;
    }
  }

